<div class="row">
  <div class="page-header">
    <h1>Wordpress Server <small>manager</small></h1>
  </div>
  <br>
</div>
<div class="row">
  <div class="col-xs-3">
    <button class="btn btn-primary" routerLink="/new" [ngClass]="{disabled: instance}">Launch a new Wordpress AMI</button>
  </div>
  <div class="col-xs-1 col-md-offset-7">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon glyphicon-refresh"></span>
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th>Instance name</th>
        <th>Wordpress Version</th>
        <th>OS Version</th>
        <th>Status</th>
        <th>URL</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody *ngIf="instance; else noInstance">
      <tr>
        <td>My Wordpress</td>
        <td>4.7.3.0</td>
        <td>Ubuntu 14.0.3</td>
        <td>Running</td>
        <td><a href="http://ec2-54-164-252-146.compute-1.amazonaws.com/">Wordpress</a> </td>
        <td>
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-stop"></span>
          </button>
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-repeat"></span>
          </button>
        </td>
      </tr>
      </tbody>
      <ng-template #noInstance>
        <h1 style="color:red">No instance available</h1>
      </ng-template>
    </table>
  </div>
</div>
