<div class="row">
  <div class="page-header">
    <h1>Wordpress Server <small>manager</small></h1>
  </div>
  <br>
</div>
<div class="row">
  <div class="col-xs-3">
    <button class="btn btn-primary" routerLink="/new" [ngClass]="{disabled: !launchButtonEnabled}">Launch a new Wordpress AMI</button>
  </div>
  <div class="col-xs-1 col-md-offset-7">
    <button type="button" class="btn btn-default" (click)="reloadInstanceStatus()">
      <span class="glyphicon glyphicon glyphicon-refresh"></span>
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th>Instance ID</th>
        <th>Instance name</th>
        <th>Wordpress Version</th>
        <th>OS Version</th>
        <th>State</th>
        <th>Status</th>
        <th>URL</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="instance">
      <tr>
        <td>{{instance.instance_identifier}}</td>
        <td>{{instance.name}}</td>
        <td>{{instance.configuration.wordpressVersion}}</td>
        <td>{{instance.configuration.osVersion}}</td>
        <td>{{instance.state}}</td>
        <td>{{instance.status}}</td>
        <td><a [href]="'http://' + instance.url" target="_blank" *ngIf="instance.status === 'ok'">Wordpress</a> </td>
        <td>
          <button type="button" class="btn btn-default" (click)="startInstance()" [ngClass]="{disabled: !startButtonEnabled}">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <button type="button" class="btn btn-default" (click)="stopInstance()" [ngClass]="{disabled: !stopButtonEnabled}">
            <span class="glyphicon glyphicon-stop"></span>
          </button>
          <button type="button" class="btn btn-default" (click)="restartInstance()" [ngClass]="{disabled: !resetButtonEnabled}">
            <span class="glyphicon glyphicon-repeat"></span>
          </button>

          <button type="button" class="btn btn-default" (click)="terminateInstance()" [ngClass]="{disabled: !terminateButtonEnabled}">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <h1 style="color:red" *ngIf="!instance">No instance available</h1>
  </div>
</div>
