<div class="row">
  <div class="page-header">
    <h1>Here there are your AWS ID and Secret</h1>
  </div>
</div>
<div class="row">
  <form class="form-inline">
    <div class="row">
      <div class="col-xs-8">
        <div class="input-group">
          <div class="input-group-addon">AWS Access Key Id</div>
          <input type="text" class="form-control" placeholder="AWSAccessKeyId" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="input-group">
          <div class="input-group-addon">AWS Secret Key</div>
          <input type="text" class="form-control" placeholder="AWSSecretKey" disabled>
        </div>
      </div>
    </div>
  </form>
</div>

